   <nav class="navbar ">
      <ul class="nav nav-pills nav-stacked">
       <li role="presentation" class="active"><a href="/pages/About">Home</a></li>
       <li role="presentation"><a href="/customers/new">Customer Reviews</a></li>
       <li role="presentation"><a href="/pages/Contact">Contact Us</a></li>
      </ul>
   </nav>


